*{
  margin: 0px;
  padding: 0px;
}

p::first-letter{
  text-transform: uppercase;
}

body{
  font-family: sans-serif;
  text-align: center;
}


.heading h1{
  text-align: center;
  margin: 10px;
  padding-bottom: 50px;
}

.sub_heading h2{
  text-align: center;
}

.personal_details {
  border-color: black;
  border-style: solid;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.personal_details label, input{
  margin-top: 5px;
  margin-bottom: 5px;
}

.secondSection{
  border-color: black;
  border-style: solid;
}
