<html>
<head>
  <title>Admin Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
  <body>
  <header>
    <div class="navigation_bar">
      <ul>
        <li><a class="active" href="/Admin">Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Database</a>
          <div class="dropdown-content">
            <a href="/CandidateDatabase">Candidate DB</a>
            <a href="/CandidateRefrence1">Refrence1 DB</a>
            <a href="/CandidateRefrence2">Refrence2 DB</a>
            <a href="/CandidateWorkElegibility">Work Elegibilty DB</a>
          </div>
        </li>
        <li><a href="/Graphs">Graphs</a></li>
        <li><a href="/Maps">Maps</a></li>
        <li><a href="/Statistics">Stats</a></li>
      </ul>
    </div>
  </header>
  <main>
    <h1>Admin Page</h1>
  </main>

  </body>
</html>
