<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <div class="form-style-5">
      <form action ="/Candidte/AddCandidate" method="post" onsubmit="return FormValidation()">
        <fieldset>
          <!-- This legend element is used for the heading of each section for the form. -->
          <legend><span class="number">1</span> Candidate Info</legend>

          <!-- User's details -->
          <input id="userFirstname" type="text" name="Userfirstname" placeholder="First Name *">
          <input id="userSurname" type="text" name="Usersurname" placeholder="Surname Name *">
          <input id="userEmail" type="text" name="UserEmail" placeholder="Email *">
          <label>Login details</label>
          <input id="username" type="text" name="Username" placeholder="Username *">
          <input id="password" type="text" name="Userpassword"  placeholder="Password *">

          <!-- Add a tick box here -->

          <!-- Sign up button -->
          <input type="submit" value="Sign Up"/>

        </form>
      </div>
      <script>

      function FormValidation()
      {

        // var candidateTitle = document.getElementById('candidate_title').value;
        // var candidateName = document.getElementById('candidate_name').value;
        // var candidateSurname = document.getElementById('candidate_surname').value;
        // var candidateAddress1 = document.getElementById('candidate_address1').value;
        // var candidateAddress2 = document.getElementById('candidate_address2').value;
        // var candidatePostcode = document.getElementById('candidate_postcode').value;
        // var candidateContactNumber = document.getElementById('candidate_contact_number').value;
        // var candidateEmergencyNumber = document.getElementById('candidate_emergency_number').value;
        // var candidateEmail = document.getElementById('candidate_email').value;
        // var candidateWorkWanted = document.getElementById('candidate_work_wanted').value;
        // var candidateQualifications = document.getElementById('candidate_qualifications').value;
        // var candidateCompanyType = document.getElementById('candidate_company_type').value;

      }


      </script>
    </body>
</html>
