<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>
  <body>
  <div id="login_section" class="form-style-5">
  <form onsubmit="return validate()" method = "post" name="myform">
        <legend>Login Page</legend>
        <input id="username" type="text" name="username" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <br>
        <input class="login_button" type="submit" value="Login"/>
      </form>

  <form onsubmit="return validate()" action = "/Candidate/Registration" method = "GET" name="myform">
        <input class="login_button" type="submit" value="Sign Up"/>
      </form>
    </div>

  <script>
          function validate(){
            var pass = true;
            var text = (document.forms["myform"]["username"].value);
            var text1 = (document.forms["myform"]["password"].value);
            console.log(text);
            if (text.match("admin")){
              pass = true;
            }
            else {
              alert('Incorrect credentials, please try again.');
              return false;
            }
            if (text1.match("password")){
                pass = true;
              }
              else {
                alert('Incorrect credentials, please try again.');
                return false;
          }
          // return ;
        }
    </script>

</body>
</html>
