<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <div class="form-style-5">
      <form action ="/Candidate/Registration" method="post" onsubmit="return FormValidating()">
        <fieldset>
          <!-- This legend element is used for the heading of each section for the form. -->
          <legend><span class="number">1</span> Candidate Info</legend>

          <!-- User's details -->
          <input id="userFirstname" type="text" name="Userfirstname" placeholder="First Name *">
          <input id="userSurname" type="text" name="Usersurname" placeholder="Surname Name *">
          <input id="userEmail" type="text" name="UserEmail" placeholder="Email *">
          <label>Login details</label>
          <input id="username" type="text" name="Username" placeholder="Username *">
          <input id="password" type="text" name="Userpassword"  placeholder="Password *">

          <!-- Add a tick box here -->
          <input type="checkbox" name="TBC" value="TBC">TBC<br>
          <!-- Sign up button -->
          <input type="submit" value="Sign Up"/>

        </form>
      </div>
      <script>

      function FormValidating()
      {

        var candidateUsername = document.getElementById('candidate_username').value;
        var candidatePassword = document.getElementById('candidate_password').value;
        var candidateName = document.getElementById('candidate_name').value;
        var candidateSurname = document.getElementById('candidate_surname').value;
        var candidateEmail = document.getElementById('candidate_email').value;


        if(candidateUsername == "Username *")
        {
          alert("Please enter your Username.");
          return false;
        }
        if(candidatePassword == "Password *")
        {
          alert("Please enter your Password.");
          return false;
        }
        if(candidateName == "Name *")
        {
          alert("Please enter your name.");
          return false;
        }
        if(candidateSurname == "Surname *")
        {
          alert("Please enter your surname.");
          return false;
        }
        if(candidateEmail == "Email *")
        {
          alert("Please enter your email.");
          return false;
        }
      }


      </script>
    </body>
</html>
