<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/schilder-grotesk" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    <title="Tutorials">
  </head>
  <body>
    <header>
      <div class="navigation_bar">
        <ul>
          <li><a class="active" href="/Admin">Admin</a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Database</a>
            <div class="dropdown-content">
              <a href="/CandidateDatabase">Candidate DB</a>
              <a href="/CandidateRefrence1">Refrence1 DB</a>
              <a href="/CandidateRefrence2">Refrence2 DB</a>
              <a href="/CandidateWorkElegibility">Work Elegibilty DB</a>
            </div>
          </li>
          <li><a href="/Graphs">Graphs</a></li>
          <li><a href="/Maps">Maps</a></li>
          <li><a href="/Statistics">Stats</a></li>
        </ul>
      </div>
    </header>

    <div class="Map_div">
      <div class="map_canvas" id="map"></div>
    </div>
      <script>

        function initMap() {

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 51.481574, lng: -3.179236}
          });

          // Create an array of alphabetical characters used to label the markers.
          var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

          // Add some markers to the map.
          // Note: The code uses the JavaScript Array.prototype.map() method to
          // create an array of markers based on a given "locations" array.
          // The map() method here has nothing to do with the Google Maps API.
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });

          // Add a marker clusterer to manage the markers.
          var markerCluster = new MarkerClusterer(map, markers,
              {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},
          {lat: 51.481574, lng: -3.179236},


          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},
          {lat: 51.589355, lng: -3.000869},

          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361},
          {lat: 51.507405, lng: -0.127361}
        ]
      </script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC874LQgAxDp0d9SdqV2_MIPS4eq3AKO5I&callback=initMap">
      </script>
  </body>
</html>
