<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <div class="form-style-5">
      <form action ="/Candidte/AddCandidate" method="post" onsubmit="return FormValidation()">
        <fieldset>
          <!-- This legend element is used for the heading of each section for the form. -->
          <legend><span class="number">1</span> Candidate Info</legend>

          <!-- Options for the user to choose their title -->
          <select id="candidate_title" name="title" required ><br>
            <option placeholder="Title *">Title *</option>
            <option value="mr">Mr</option>
            <option value="sir">Sir</option>
            <option value="dr">Dr</option>
            <option value="miss">Miss</option>
            <option value="mrs">Mrs</option>
          </select>

          <!-- User's details -->
          <input id="candidate_name" type="text" name="firstname" placeholder="First Name *">
          <input id="candidate_surname" type="text" name="surname" placeholder="Surname Name *">
          <label for="job">Address</label>
          <input id="candidate_address1" type="text" name="CandidateAddress1">
          <input id="candidate_address2" type="text" name="CandidateAddress2">
          <input id="candidate_postcode" type="text" name="CandidatePostcode"  placeholder="Postcode">
          <input id="candidate_contact_number" type="text" name="contactNumber" placeholder="Contact Number *">
          <input id="candidate_emergency_number" type="text" name="emergencyContactNumber" placeholder="Emergency Contact Number">
          <input id="candidate_email" type="text" name="email" placeholder="Contact Email *">
          <textarea id="candidate_work_wanted" name="work" placeholder="Type of work required *"></textarea>
          <label for="cvUpload">Upload CV</label>
          <input class="inputFiles" type="file" id="candidateCV">
          <label for="spacing"> </label>
          <!--  will need to look at the CSS for this -->
          <input id="candidate_qualifications" type="text" name="QualificationsandLicences" placeholder="Qualifications / licences ">
          <label for="qualificationUpload">Upload Qualifications and Licences</label>
          <input class="inputFiles" type="file" id="candidateQualificationsandLicences">
          <label for="spacing"> </label>
          <label for="representing">Representing:</label>
          <select id="representing" name="representingCompany">

          <!-- Drop down box for the user to choose what type of company they are representing. -->
          <optgroup id="candidate_company_type" label="Company Type">
            <option> Please select</option>
            <option value="Umbrella company">Umbrella Company</option>
            <option value="Personal services">Personal Services Company</option>
          </optgroup>

        </optgroup>
      </select>
    </fieldset>
    <fieldset>

  <!-- This legend element is used for the heading of each section for the form. -->
  <legend><span class="number">2</span> Work Eligibility</legend>
    <label for="workElegibility">Are you eligible to work in the UK?</label>
      <select id="workElegibility" name="elegibilityChoice">

        <!-- Options for the user to choose their work elegibility -->
        <optgroup label="Work elgibility">
          <option>Please select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </optgroup>

        <select id="workElegibility" name="workElegibility">

          <!-- Options for the user to choose if they have a license or not -->
        <label for="drivinglicense">Do you have a current driving licence?</label>
          <select id="drivinglicense" name="drivingLicenseChoice">
            <optgroup label="Official Documents">
              <option>Please select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </optgroup>

            <select id="drivingLicense" name="drivingLicense">

            <label for="criminalOffence">Do you have any unspent criminal convictions?</label>
              <select id="criminalOffence" name="criminaloffences">

                <!-- Options for the user to if they have a criminal offence or not -->
                <optgroup label="criminal offfence">
                  <option>Please select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </optgroup>

                <select id="criminalOffence" name="criminaloffences">

                <!-- Options for the user to choose if they have any disabilities or not -->
                <label for="candidatedisabilities">Do you consider having a disability?</label>
                  <select id="candidatedisabilities" name="candidateDisabilities">
                    <optgroup label="disability">
                      <option>Please select</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </optgroup>

                  <select id="candidateDisabilities" name="candidateDisabilities">

                <textarea name="disabilityDescription" placeholder="Please provide full details of your disability"></textarea>
                </fieldset>

                <!-- This legend element is used for the heading of each section for the form. -->
                <legend><span class="number">3</span> references</legend>

                  <!-- Taking details of the first reference -->
                  <label for="job">Enter details of your 1st reference</label>
                  <input type="text" name="reference1Firstname" placeholder="First name *">
                  <input type="text" name="reference1Secondname" placeholder="Second name *">
                  <input type="text" name="reference1JobTitle" placeholder="Job title *">
                  <input type="text" name="reference1Company" placeholder="Company *">
                  <label for="job">Address *</label>
                  <input type="text" name="reference1Address1">
                  <input type="text" name="reference1Address2">
                  <input type="text" name="reference1Postcode" placeholder="Postcode">
                  <input type="text" name="reference1ContactNumber" placeholder="Contact Number *">
                  <input type="text" name="reference1Email" placeholder="Email Address *">

                  <!-- Taking details of the second reference -->
                  <label for="job">Enter details of your 2nd reference</label>
                  <input type="text" name="reference1Firstname" placeholder="First name *">
                  <input type="text" name="reference1Secondname" placeholder="Second name *">
                  <input type="text" name="reference2JobTitle" placeholder="Job title *">
                  <input type="text" name="reference2Company" placeholder="Company *">
                  <label for="job">Address *</label>
                  <input type="text" name="reference2Address1">
                  <input type="text" name="reference2Address2">
                  <input type="text" name="reference2Postcode" placeholder="Postcode">
                  <input type="text" name="reference2ContactNumber" placeholder="Contact Number *">
                  <input type="text" name="reference2Email" placeholder="Email Address *">

              <p> The information you provide on this form, associated registration forms and on any CV or additional documents will be used by the</br>
              Acorn Group to provide you with work finding services. In providing this service to you, you consent to your personal dara being included on a computerised</br>
              database and consent to us trasnsferring your personal data to our clients and other third parties or with other information held by us or our clients. I hereby confirm</br>
              that the information given is true and correct. I consent to my personal data being processed as detailed above. I understand that providing false or whitholding relavant information</br>
              will result in the termination of an assignment or the withdrawl of an offer of an assignment.</p>

          <!-- Submit button -->
          <input type="submit" value="Apply"/>

        </form>
      </div>
      <script>
      function FormValidation()
      {

        var candidateTitle = document.getElementById('candidate_title').value;
        var candidateName = document.getElementById('candidate_name').value;
        var candidateSurname = document.getElementById('candidate_surname').value;
        var candidateAddress1 = document.getElementById('candidate_address1').value;
        var candidateAddress2 = document.getElementById('candidate_address2').value;
        var candidatePostcode = document.getElementById('candidate_postcode').value;
        var candidateContactNumber = document.getElementById('candidate_contact_number').value;
        var candidateEmergencyNumber = document.getElementById('candidate_emergency_number').value;
        var candidateEmail = document.getElementById('candidate_email').value;
        var candidateWorkWanted = document.getElementById('candidate_work_wanted').value;
        var candidateQualifications = document.getElementById('candidate_qualifications').value;
        var candidateCompanyType = document.getElementById('candidate_company_type').value;

        if(candidateTitle == "title")
        {
          alert("Please enter your title.");
          return false;
        }

        if(candidateName == " ")
        {
          alert("Please enter your name.");
          return false;
        }

        if(candidateSurname == " ")
        {
          alert("Please enter your surname.")
          return false;
        }

        if(candidateAddress1 == " ")
        {
          alert("Please enter your first line of address.")
          return false;
        }

        if(candidateAddress2 == " ")
        {
          alert("Please enter your second line of address.")
          return false;
        }

        if(candidatePostcode == " ")
        {
          alert("Please enter your postcode.")
          return false;
        }

        if(candidateContactNumber == " ")
        {
          alert("Please enter your contact number.")
          return false;
        }

        if(candidateEmergencyNumber == " ")
        {
          alert("Please enter your emergency contact number.")
          return false;
        }

        if(candidateEmail == " ")
        {
          alert("Please enter your email.")
          return false;
        }

        if(candidateQualifications == " ")
        {
          alert("Please enter your qualifications.")
          return false;
        }

        if(candidateWorkWanted == " ")
        {
          alert("Please enter the type of work you want.")
          return false;
        }

        if(candidateCompanyType == " ")
        {
          alert("Please enter your company type.")
          return false;
        }
      }

      FormValidation();

      </script>
    </body>
</html>
