<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <div class="form-style-5">
      <form action ="/Candidte/AddCandidate" method = "post">
        <fieldset>
          <!-- This legend element is used for the heading of each section for the form. -->
          <legend><span class="number">1</span> Candidate Info</legend>

          <!-- Options for the user to choose their title -->
          <select name="title" required><br>
            <option value="mr">Title *</option>
            <option value="mr">Mr</option>
            <option value="miss">Sir</option>
            <option value="miss">Dr</option>
            <option value="miss">Miss</option>
            <option value="mrs">Mrs</option>
          </select>

          <!-- User's details -->
          <input type="text" name="firstname" placeholder="First Name *">
          <input type="text" name="surname" placeholder="Surname Name *">
          <label for="job">Address</label>
          <input type="text" name="CandidateAddress1">
          <input type="text" name="CandidateAddress2">
          <input type="text" name="CandidatePostcode"  placeholder="Postcode">
          <input type="text" name="contactNumber" placeholder="Contact Number *">
          <input type="text" name="emergencyContactNumber" placeholder="Emergency Contact Number">
          <input type="text" name="email" placeholder="Contact Email *">
          <textarea name="work" placeholder="Type of work required *"></textarea>
          <!--  will need to look at the CSS for this -->
          <input type="text" name="QualificationsandLicences" placeholder="Qualifications / licences ">
          <label for="representing">Representing:</label>
          <select id="representing" name="representingCompany">

          <!-- Drop down box for the user to choose what type of company they are representing. -->
          <optgroup label="Company Type">
            <option> Please select</option>
            <option value="Umbrella company">Umbrella Company</option>
            <option value="Personal services">Personal Services Company</option>
          </optgroup>

        </optgroup>
      </select>
    </fieldset>
    <fieldset>

  <!-- This legend element is used for the heading of each section for the form. -->
  <legend><span class="number">2</span> Work Eligibility</legend>
    <label for="workElegibility">Are you eligible to work in the UK?</label>
      <select id="workElegibility" name="elegibilityChoice">

        <!-- Options for the user to choose their work elegibility -->
        <optgroup label="Work elgibility">
          <option>Please select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </optgroup>

        <select id="workElegibility" name="workElegibility">

          <!-- Options for the user to choose if they have a license or not -->
        <label for="drivinglicense">Do you have a current driving licence?</label>
          <select id="drivinglicense" name="drivingLicenseChoice">
            <optgroup label="Official Documents">
              <option>Please select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </optgroup>

            <select id="drivingLicense" name="drivingLicense">

            <label for="criminalOffence">Do you have any unspent criminal convictions?</label>
              <select id="criminalOffence" name="criminaloffences">

                <!-- Options for the user to if they have a criminal offence or not -->
                <optgroup label="criminal offfence">
                  <option>Please select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </optgroup>

                <select id="criminalOffence" name="criminaloffences">

                <!-- Options for the user to choose if they have any disabilities or not -->
                <label for="candidatedisabilities">Do you consider having a disability?</label>
                  <select id="candidatedisabilities" name="candidateDisabilities">
                    <optgroup label="disability">
                      <option>Please select</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </optgroup>

                  <select id="candidateDisabilities" name="candidateDisabilities">

                <textarea name="disabilityDescription" placeholder="Please provide full details of your disability"></textarea>
                </fieldset>

                <!-- This legend element is used for the heading of each section for the form. -->
                <legend><span class="number">3</span> Refrences</legend>

                  <!-- Taking details of the first refrence -->
                  <label for="job">Enter details of your 1st refrence</label>
                  <input type="text" name="refrence1Name" placeholder="Name *">
                  <input type="text" name="refrence1JobTitle" placeholder="Job title *">
                  <input type="text" name="refrence1Company" placeholder="Company *">
                  <label for="job">Address *</label>
                  <input type="text" name="refrence1Address1">
                  <input type="text" name="refrence1Address2">
                  <input type="text" name="refrence1Postcode" placeholder="Postcode">
                  <input type="text" name="refrence1ContactNumber" placeholder="Contact Number *">
                  <input type="text" name="refrence1Email" placeholder="Email Address *">

                  <!-- Taking details of the second refrence -->
                  <label for="job">Enter details of your 2nd refrence</label>
                  <input type="text" name="refrence2Name" placeholder="Name *">
                  <input type="text" name="refrence2JobTitle" placeholder="Job title *">
                  <input type="text" name="refrence2Company" placeholder="Company *">
                  <label for="job">Address *</label>
                  <input type="text" name="refrence2Address1">
                  <input type="text" name="refrence2Address2">
                  <input type="text" name="refrence2Postcode" placeholder="Postcode">
                  <input type="text" name="refrence2ContactNumber" placeholder="Contact Number *">
                  <input type="text" name="refrence2Email" placeholder="Email Address *">

          <!-- Submit button -->
          <input type="submit" value="Apply"/>

        </form>
      </div>
    </body>
</html>
