<html>
  <head>
    <title>Application Submitted</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <div class="toolbar">
      <p> Toolbar</p>
    </div>
    <div class="main_content">
      <section class="page_tick">
        <!-- Image taken from - https://www.flaticon.com/free-icon/check_159659#term=tick&page=2&position=42
      Accessed on 21st Novemebr 2017 12:10. -->
        <img src="../static/images/check-mark.png">
      </section>
      <section class="main_text">
        <a>Thank you for submitting the form!</a>
      </section>
      <section class ="sub_text">
        <small>We will review your application and contact you with further information,
           please keep a lookout for an email.</small>
      </section>
    </div>
  </body>
</html>
